---
layout: page
title: Galerie
eleventyNavigation:
    key: Galerie
---

<div x-data="{open: false}">
    <button @click="open = !open">
        Affiche/Cache dialogue
    </button>
    <dialog :open="open">
        <div x-data="{imageUrl:null}">
            <ul>
                <li><img src="/assets/images/animals-1.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-1.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-2.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-2.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-3.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-3.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-4.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-4.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-5.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-5.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-6.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-6.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-7.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-7.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-8.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-8.jpeg';" ></li>
            </ul>
            <ul>
                <li><img src="/assets/images/animals-9.jpeg" alt="singe"
                         @click="imageUrl ='/assets/images/animals-9.jpeg';" ></li>
            </ul>
            <div x-show="!!imageUrl" @click.away="imageUrl=null">
                <img :src="imageUrl" alt="">
            </div>
        </div>
    </dialog>
</div>

